<h1>Listing groups</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.id %></td>
        <td><%= group.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Group', new_group_path %>
